/* Define a formatação padrão para o corpo da página */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

/* Define a formatação para o cabeçalho */
  header {
    position: relative;
    display: flex; 
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 16px;
    background-color: #0077B5;
    color: #ffffff;
  }

  .portfoliomain{
    padding: 20px;
    margin: 0;
    margin-left: left;
    height: auto;
  }

  .content{
    padding: 20px;
  }
  .p1{
    padding: 80px;
    text-align: left;
  }

  .p1sobre{
    padding: 90px;
    text-align: left;
  }

  .ul-forma li{
    padding: 50px;
    text-align: left;

  }
  .ul-forma a{
    color: #3787c9;
  }

  h1{
    text-align: center;
    
  }

  .title-style{
    text-align: left;
  }

  .card {
    margin: auto;
    width: 100%;
    max-width: 600px; /* Define a largura máxima do card */
    height: 300px;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 110px;
    background: #e0e0e0;
    box-shadow: 10px 10px 10px #181818;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*formulario */
  .form {
    margin: auto;
    margin-top: 90px;
    margin-bottom: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    height: 400px;
    background: #3787c9;
    box-shadow: 10px 10px 10px #181818;
    padding: 40px;
    border-radius: 10px;
  }
  
  .form .title {
    margin: auto;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    border-radius: 8px;
    width: 100%;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .form .mam {
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    margin-left: 0;
  }

  .mam {
    border: 2px solid #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms;
    margin-bottom: 20px;
    margin-left: 195px;
  }
  .mam:hover {
    color: #fff;
    background-color: #113f6d;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  /* fim form */

  nav a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-shadow: 0 0 5px white;
  }
  
/* Define a formatação para o conteúdo principal */
  main {
    background-size: cover;
    height: 92vh;
  }
  
  /* Define a formatação para a lista de projetos */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

  }
  
  li {
    margin-bottom: 10px;
  }
  
  li a {
    color:  #ffffff;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: none;
  }

  /*menu responsivo */

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #0077B5;
    height: 8vh;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    position: absolute;
    left: 16px; /* ou a distância desejada da borda direita */
  }

  .nav-list {
    list-style: none; /* remove o estilo padrão de lista */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0077B5;
    display: flex; /* altera para exibir os itens em linha */
    justify-content: center; /* centraliza os itens horizontalmente */
    align-content: right;
  }

  .nav-list li {
    letter-spacing: 3px;
    margin: 0 5px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      display: flex;
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #0077B5;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
 
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

 :root {
     --color-neutral-0: #0e0c0c;
     --color-neutral-10: #171717;
     --color-neutral-30: #a8a29e;
     --color-neutral-40: #f5f5f5;
 
 }
 
 * {
     font-family: 'Inter', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     letter-spacing: 1px;
 }
 
 main {
     height: 90vh;
 }
 
 footer {
  width: 100%;
  color: var(--color-neutral-40);
 }

 .footer-list a{
  opacity: 0.5;
  color: #ffffff;
 }
 .footer-list a:hover{
  color: #0077B5;
  opacity: 1;
 }

 .footer-link {
     text-decoration: none;
 }
 
 #footer_content {
     background-color: var(--color-neutral-10);
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     padding: 3rem 3.5rem;
 }
 
 #footer_contacts h1 {
     margin-bottom: 0.75rem;
 }
 
 #footer_social_media {
     display: flex;
     gap: 2rem;
     margin-top: 1.5rem;
 } 
 
 #footer_social_media .footer-link {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 2.5rem;
     width: 2.5rem;
     color: var(--color-neutral-40);
     border-radius: 50%;
     transition: all 0.4s;
 }
 
 #footer_social_media .footer-link i {
     font-size: 1.25rem;    
 }
 
 #footer_social_media .footer-link:hover {
     opacity: 0.8;
 }
 
 #instagram {
     background: linear-gradient(#7f37c9, #ff2992, #ff9807);
 }
 
 #facebook {
     background-color: #4267b3;
 }
 
 #whatsapp {
     background-color: #208f48;
 }
 
 #linkedin {
     background-color: #3787c9;
 }

 .footer-list {
     display: flex;
     flex-direction: column;
     gap: 0.75rem;
     list-style: none;
 }
 
 .footer-list .footer-link {
     transition: all 0.4s;
 }
 
 .footer-list .footer-link:hover {
     color: #3787c9;
 }
 
 #footer_email {
     display: flex;
     flex-direction: column;
     gap: 1.5rem;
 }
 
 #footer_email p {
     color: var(--color-neutral-30);
 }
 
 #input_group {
     display: flex;
     align-items: center;
     background-color: var(--color-neutral-0);
     border-radius: 4px;
 }
 
 #input_group input {
     all: unset;
     padding: 0.75rem;
     width: 100%;
 }
 
 #input_group button {
     background-color: #3793c9;
     border: none;
     color: var(--color-neutral-40);
     padding: 0px 1.25rem;
     font-size: 1.125rem;
     height: 100%;
     border-radius: 0px 4px 4px 0px;
     cursor: pointer;
     transition: all 0.4s;
 }
 
 #input_group button:hover {
     opacity: 0.8;
 }
 
 @media screen and (max-width: 768px) {
  #footer_content {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
  }
}
 .contatos{
  padding: 90px;
  text-align: left;
 }

 .linksli a{
  color: #0077B5;
 }