/* Define a formatação padrão para o corpo da página */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  

  .social_Facebook{
    content: url('https://api.iconify.design/ion/logo-facebook.svg');
  }
  .social_Instagram{
    content: url('https://api.iconify.design/ion/logo-instagram.svg');
  }
  .social_Linkedin{
    content: url('https://api.iconify.design/ion/logo-linkedin.svg');
  }
  .social_Twitter{
    content: url('https://api.iconify.design/ion/logo-twitter.svg');
  }


/* Define a formatação para o cabeçalho */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0077B5;
    color: #ffffff;
  }
  
/* Define a formatação para o menu de navegação */
  nav {
    display: flex;
  }
  
  nav a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #ffffff;
    color:  #0077B5;
  }
  
/* Define a formatação para o conteúdo principal */
  main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
/* Define a formatação para as seções */
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  section p {
    line-height: 1.5;
  }
  
  /* Define a formatação para a lista de projetos */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li a {
    color:  #0077B5;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  .horizontal-list {
    list-style: none; /* remove o estilo padrão de lista */
    margin: 0;
    padding: 0;
  }
  
  .horizontal-list li {
    display: inline-block; /* exibe os itens em linha */
    margin-right: 10px; /* adiciona um espaço entre os itens */
 }
 
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

 :root {
     --color-neutral-0: #0e0c0c;
     --color-neutral-10: #171717;
     --color-neutral-30: #a8a29e;
     --color-neutral-40: #f5f5f5;
 
 }
 
 * {
     font-family: 'Inter', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     letter-spacing: 1px;
 }
 
 main {
     height: 80vh;
 }
 
 footer {
     width: 100%;
     color: var(--color-neutral-40);
 }
 
 .footer-link {
     text-decoration: none;
 }
 
 #footer_content {
     background-color: var(--color-neutral-10);
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     padding: 3rem 3.5rem;
 }
 
 #footer_contacts h1 {
     margin-bottom: 0.75rem;
 }
 
 #footer_social_media {
     display: flex;
     gap: 2rem;
     margin-top: 1.5rem;
 } 
 
 #footer_social_media .footer-link {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 2.5rem;
     width: 2.5rem;
     color: var(--color-neutral-40);
     border-radius: 50%;
     transition: all 0.4s;
 }
 
 #footer_social_media .footer-link i {
     font-size: 1.25rem;    
 }
 
 #footer_social_media .footer-link:hover {
     opacity: 0.8;
 }
 
 #instagram {
     background: linear-gradient(#7f37c9, #ff2992, #ff9807);
 }
 
 #facebook {
     background-color: #4267b3;
 }
 
 #whatsapp {
     background-color: #25d366;
 }
 
 .footer-list {
     display: flex;
     flex-direction: column;
     gap: 0.75rem;
     list-style: none;
 }
 
 .footer-list .footer-link {
     color: var(--color-neutral-30);
     transition: all 0.4s;
 }
 
 .footer-list .footer-link:hover {
     color: #7f37c9;
 }
 
 #footer_subscribe {
     display: flex;
     flex-direction: column;
     gap: 1.5rem;
 }
 
 #footer_subscribe p {
     color: var(--color-neutral-30);
 }
 
 #input_group {
     display: flex;
     align-items: center;
     background-color: var(--color-neutral-0);
     border-radius: 4px;
 }
 
 #input_group input {
     all: unset;
     padding: 0.75rem;
     width: 100%;
 }
 
 #input_group button {
     background-color: #7f37c9;
     border: none;
     color: var(--color-neutral-40);
     padding: 0px 1.25rem;
     font-size: 1.125rem;
     height: 100%;
     border-radius: 0px 4px 4px 0px;
     cursor: pointer;
     transition: all 0.4s;
 }
 
 #input_group button:hover {
     opacity: 0.8;
 }
 
 #footer_copyright {
     display: flex;
     justify-content: center;
     background-color: var(--color-neutral-0);
     font-size: 0.9rem;
     padding: 1.5rem;
     font-weight: 100;
 }
 
 @media screen and (max-width: 768px) {
     #footer_content {
         grid-template-columns: repeat(2, 1fr);
         gap: 2rem;
     }
 }
 
 @media screen and (max-width: 426px) {
     #footer_content {
         grid-template-columns: repeat(1, 1fr);
         padding: 3rem 2rem;
     }
 }